	<footer id="Footer" class="container">
		<div class="row">
			<div class="col-xs-12">
				<small class="text-muted">Speak - Agenda de Contatos</small>
			</div>
		</div>
	</footer>

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/app.js"></script>

</body>
</html>
