<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Speak - Agenda de Contatos</title>
	<link rel="stylesheet" href="./stylesheets/bootstrap.css">
	<link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel">
						<h1>Speak</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
