<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Speak</a>
			<p class="navbar-text">Agenda de Contatos</p>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/" title="Home">Home</a></li>
				<li><a href="/contatos/" title="Contatos">Contatos</a></li>
				<li><a href="/sair/" title="Sair">Sair</a></li>
			</ul>
		</div>
	</div>
</nav>
