<% include header %>

<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>Infelizmente essa página não existe :(</h1>
			</div>
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<p>Vamos voltar para a <a href="/">home page?</a> :)</p>
		</div>
	</div>
</section>

<% include footer %>
